*{
    color: #379689;
    font-style: italic;
    margin: 0;
}

/* Selector de clase para estilizar tres elementos */
.estilo-especial {
    color: #ff69b4;
    font-size: 1.2em;
}

/* Selector por id para centrar texto y subrayarlo */
#testimonios {
    text-align: center;
    text-decoration: underline;
}

/* Selector en línea para texto en negritas y capitalizado */
.inline-element {
    font-weight: bold;
    text-transform: capitalize;
}

td{
    font-size: 15px;
}
/* Selector combinador */
#faqs h2 {
    color: #ff4500;
}

.tamanio-img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
.contenedor-testimonio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
/* Estilo para el fondo celeste del formulario de enviar testimonio */
.contenedor-testimonio form {
    box-shadow: 0 0 8px 3px rgba(190, 4, 4, 0.3);
    background-color: #ffefef;
    width: 600px;
    border-radius: 20px;
    padding: 10px;
}

iframe{
    border-radius: 20px;
}

.br-20{
    border-radius: 20px;
    margin: 10px;
}
.contenedor-tabla{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-preguntas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.contenedor-videos{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px;
}
.maquetacion-main{
    width: 1200px;
}

main{
    display: flex;
    justify-content: center;
}