
*{
    color: #379689;
    font-style: italic;
    margin: 0;
}
/*Body*/
.img-principal {
    background-image: url('/img/pasteleria.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: auto;
    height: 490px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}

@media(max-width:600px){
    .img-principal {
        width: auto;
        height: 290px;
        margin-bottom: 20px;
    }
}

.contenedor-titulos{
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
}

.titulo-principal{
    color: rgb(255, 133, 129);
    font-size: 65px;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.titulo-secundario{
    color: white;
    font-size: 30px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}

@media(max-width:600px){

    .titulo-principal{
        color: rgb(255, 133, 129);
        font-size: 40px;
        text-shadow: 1px 1px 1px rgb(255, 255, 255);
    }
    
    .titulo-secundario{
        color: white;
        font-size: 20px;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
    }
}

.contenedor-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-novedades{
    display: flex;
    justify-content: center;
}

.titulo-novedades{
    color: rgba(190, 4, 4, 1);
    font-size: 45px;
    border-bottom: 5px solid rgba(190, 4, 4, 1);
}

@media(max-width:600px){
    .titulo-novedades{
        font-size: 25px;
        margin-bottom: 10px;
        border-bottom: 3px solid rgba(190, 4, 4, 1);
    }
}

section > section{
    width: 1150px;
    box-shadow: 3px 3px 3px rgba(190, 4, 4, 0.4);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background-color: rgb(255, 238, 238);
}

section > h3{
    color: rgb(255, 121, 118);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

@media(max-width:600px){

    section > section{
        width: 400px;
        box-shadow: 3px 3px 3px rgba(190, 4, 4, 0.4);
        border-radius: 10px;
        margin: 5px;
        padding: 15px;
        background-color: rgb(255, 238, 238);
    }

    section > h3{
        color: rgb(255, 121, 118);
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

div > ol{
    font-size: 30px;
}

h3 {
    font-size: 15px;
}

h4{
    font-size: 25px;
    margin-bottom: 10px;
}

p{
    font-size: 15px;
}

@media(max-width:600px){

    h3{
        font-size: 10px;
    }

    div > ol{
        font-size: 15px;
    }
    
    h4{
        font-size: 15px;
        margin-bottom: 10px;
    }

    p{
        margin-left: 20px;
        font-size: 12px;
    }
}

.contenedor-novedades-int{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-recetas{
    width: 300px;
    margin-right: 20px;
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;  
}


.img-postre{
    border-radius: 20px;
    margin: 10px;
    width: 150px;
    height: 150px;
}

.contenedor-clientes{
    width:200px;
    margin-right: 20px;
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;   
}

@media(max-width:600px){
    .contenedor-novedades-int{
        display: block;
    }

    .contenedor-img-p{
        display: flex;
    }

    .contenedor-recetas{
        width: 380px;
        padding: 10px;
        margin: 6px 0;
    }

    .img-postre{
        border-radius: 10px;
        width: 80px;
        height: 80px;
    }

    .contenedor-clientes{
        width: 350px;
        padding: 15px;
    }

}

.maquetacion-main{
    width: 1200px;
}

main{
    display: flex;
    justify-content: center;
}
