*{
    color: #379689;
    font-style: italic;
    margin: 0;
}

/*Body*/
.main-sobre-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;

    margin:  40px 0;
}

.titulo-sobre-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

h1 {
    color: #ff6347;
    font-size: 2em;
}

h2 {
    color: #ff6347;
    font-size:1.5em;
    margin: 10px 0;
}

hr {
    color: #ff6347;
    margin-bottom: 10px;
}

main img{
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 0 10px;
}

.main-all-sections{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 1000px;
    border-radius: 20px;
    padding: 10px;
}

.contenedor-section-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-img{
    background-image: url(/img/Pasteleros1.jpeg);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}

.video-yt{
    border-radius: 20px;
    margin: 20px 0;
}

.maquetacion-main{
    width: 1200px;
}

main{
    display: flex;
    justify-content: center;
}