*{
    color: #379689;
    font-style: italic;
    margin: 0;
}
/*Header*/
.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 230, 234);
    padding: 10px;
    box-shadow: 0 0 8px 3px rgba(190, 4, 4, 0.3);
    margin-bottom: 20px;
}

.btn-enlace{
    background-color: rgb(255, 121, 118);
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.btn-enlace:hover {
    background-color: rgb(222, 94, 92);
}

.btn-productos{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-weight: bold;
}

.btn-productos:hover {
    background-color: rgb(243, 197, 193);
    transform: scale(1.1);

}

.texto{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.contenedor-enlaces{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.txt-footer{
    color: white;
}
address > p {
    color: white;
}

.contenedor-div{
    display: block;
}

.contenedor-tabla{
    display: flex;
    justify-content: center;
    align-items: center;
}