*{
    color: #379689;
    font-style: italic;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-productos{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.btn-productos:hover {
    background-color: rgb(243, 197, 193);
    transform: scale(1.1);
}

.texto{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.maquetacion-main{
    width: 1200px;
}

main{
    display: flex;
    justify-content: center;
}